body {
    background-image: url('./bg.jpg');
    background-size: contain;
    width:100vw;
    overflow-x:hidden;
}

.btn {
    background:    #ffffff;
    border-radius: 5px;
    padding:       8px 20px;
    color:         #ff0000;
    display:       inline-block;
    font:          normal bold 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #ffffff;
    margin-top:    20px;
    margin-left:   20px;
}

.tile {
    width: 200px;
    display: inline-block;
    cursor: not-allowed;
    text-align: center;
    background-color: bisque;
    border:black 1px solid;
    margin-top: 10px;
}

.tiled {
    border: green 5px solid;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: bisque;
    margin-top: 10px;
}

.dices {
    margin-top:100px;
}

#boardContainer {
    width:100%;
}

#dice1 {
    height: 250px;
    width: 550px;
}

#test {
    height: 150px;
    width: 150px;
}

#instructionalLabel {
    color: white;
    font-size: 35px;
    margin-left:20px;
}

#infoicon {
    height: 45px;
    width: 45px;
    margin-left:50px;
    margin-top:15px;
    cursor: pointer;
}

.dice-container {
    height: 100px;
    width: 100px;
    margin-right: 50px;
}

.dice-1{
    background-image: url(./dice-1.png);
    background-size: contain;
}

.dice-2{
    background-image: url(./dice-2.png);
    background-size: contain;
}

.dice-3{
    background-image: url(./dice-3.png);
    background-size: contain;
}

.dice-4 {
    background-image: url(./dice-4.png);
    background-size: contain;
}

@media only screen and (max-width: 688px) {
    .tile{
      margin-left: 20%;
    }
    .tiled {
        margin-left:20%;
    }
  }