.tile {
    width: 200px;
    display: inline-block;
    cursor: not-allowed;
    text-align: center;
}

.tiled {
    border: green 1px solid;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.dices {
    margin-top:300px;
}