body {
    background-image: url('https://www.pabonforcolorado.com/thumbnail/carpet0024-free-background-texture-carpet-fabric-floor-wallpaper-texture-red-carpet-rug-background_w_7012-17.jpg');
    background-size: contain;
}

.tile {
    width: 200px;
    display: inline-block;
    cursor: not-allowed;
    text-align: center;
    background-color: bisque;
    border:black 1px solid;
    margin-top: 10px;
}

.tiled {
    border: green 5px solid;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: bisque;
    margin-top: 10px;
}

.dices {
    margin-top:100px;
}

#dice1 {
    height: 250px;
    width: 550px;
}

#test {
    height: 150px;
    width: 150px;
}

#instructionalLabel {
    color: white;
    font-size: 25px;
}

.dice-container {
    height: 100px;
    width: 100px;
    margin-right: 50px;
}

.dice-1{
    background-image: url(./dice-1.png);
    background-size: contain;
}

.dice-2{
    background-image: url(./dice-2.png);
    background-size: contain;
}

.dice-3{
    background-image: url(./dice-3.png);
    background-size: contain;
}

.dice-4 {
    background-image: url(./dice-4.png);
    background-size: contain;
}